/* General Body Styles */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    background-color: #f0f4f8;
    color: #333;
}

/* Header Styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2.5rem;
    background-color: #ffffff;
    border-bottom: 1px solid #e0e0e0;
}
.logo span {
    color: #056829;
    font-weight: bold; }
.logo {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 1.2rem;
}

.logo img {
    width: 40px;
    margin-right: 10px;
}

.stats {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.stat-item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1rem;
}

.stat-item img {
    width: 24px;
    height: 24px;
}

#copy-count-btn {
    background-color: #00A63E;
    color: white;
    border: none;
    padding: 0.6rem 1.2rem;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
}
